@import "../../mixins.scss"; 

.navlist-container{
    display: none;
    width: fit-content;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    z-index: 10;

    & a.active{
        text-shadow: none;
    }

    @include md{
        display: flex;
    }

    .navitems{
        font-size: 25px;
        font-weight: 700;
        text-decoration: none;
        transition: 0.5s text-shadow;
        color: $jet;

        &:hover{
            text-shadow:none;
        }
    }
}
.hamburger-container{
    z-index: 20;

    @include md{
        display: none;
    }
}

.text-shadow{
    text-shadow: none;
     
     @include md{
        text-shadow: $text-shadow;
     }
}