@import "../../mixins.scss";

.shop-container{
    width: 100%;
    max-width: 1700px;
    height: fit-content;
    margin: 0px auto;
    z-index: 10;

    .filter-container{
        width: 100%;
        height: 50px;
    }

    .item-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;

        @include md{
            grid-template-columns: repeat(3, 1fr);
        }

        @include lg{
            grid-template-columns: repeat(4, 1fr);
        }

        @include xl{
            grid-template-columns: repeat(6, 1fr);
        }
    }
}