@import "../../mixins.scss"; 

.login-nav-container{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: $opensans-font;

    .login-button{
        border: none;
        outline: none;
        background: none;
        font-size: 25px;
        font-weight: 700;
        transition: 0.5s text-shadow;
        color: $jet;
        &:hover{
            text-shadow: none;
            cursor: pointer;
        }
    }
}

.text-shadow{
    text-shadow: none;
     
     @include md{
        text-shadow: $text-shadow;
     }
}