@import "../../mixins.scss";

.sidelist-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    gap: 50px;
    z-index: 20;

    & a.active{
        text-shadow: none;
    }

    .navitems,.logout-button{
        font-size: 25px;
        font-weight: 700;
        text-decoration: none;
        color: black;
        transition: 0.5s text-shadow;
        background-color: transparent;
        border: none;
        outline: none;
        // text-shadow: $text-shadow;
        color: black;

        &:hover{
            text-shadow: none;
        }
    }
}


