@import "../../mixins.scss"; 

.footer-container{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: rgb(238, 238, 238);
  min-height: 200px;
  font-family: $opensans-font;
  padding: 0px 10px;
  gap: 30px;
  padding: 20px 0px;
  padding-left: 15px;
  background: linear-gradient(211.73deg, #00FFC2 -1.63%, rgba(255, 0, 0, 0.75) 100.99%) no-repeat center center/cover;


  @include md{
    flex-direction: row;
    padding: 20px 20px;
  }

  a{
    text-decoration: none;
    color: black;
    transition: 300ms all;

    &:hover{
      color: gray;
    }
  }
  ul{
    list-style: none;
  }
  h1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  p{
    font-size: 15px;
  }
  input{
    width: 150px;
    height: 30px;
  }
  .form-wrapper{
    display: flex;
    justify-content: center;
    align-items: end;

    .input-field{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      label{
        padding-left: 10px;
      }
      

      sup{
        color: red;
      }

      input{
        border: none;
        outline: none;
        border-radius: 15px;
        text-indent: 15px;
        margin-top: 5px;
      }
    }

    Button{
      width: 120px;
      font-size: 15px;
      height: 30px;
      margin: 0px;
      margin-left: 10px;
    }
  }
}