@import "../../mixins.scss";

.search-container{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center ;

    .search-icon{
        width: 25px;
        height: 25px;
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(83%) sepia(56%) saturate(1291%) hue-rotate(0deg) brightness(104%) contrast(105%);
        box-shadow: $box-shadow;
    }
    
}