.login-container{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-image{
        width: 25px;
        height: 25px;
        margin-right:5px;
    }

    .login-button{
        border: none;
        outline: none;
        background: none;
        font-size: 20px;
        margin-left: 5px;
        font-weight: 600;
        transition: 0.5s color;

        &:hover{
            color: var(--hover-color);
            cursor: pointer;
        }
    }
}