@import "../../mixins.scss"; 

.styled-container{
    width: 100%;
    max-width: 500px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    img{
        aspect-ratio: 0.7;
        width: 95%;
        max-width: 500px;
        border: 10px solid transparent;
        background: linear-gradient(211.73deg, #00FFC2 -1.63%, rgba(255, 230, 0, 0.75) 100.99%);
        background-clip: border-box;
    }

    h1{
        margin: 25px 0px;
        font-size: 35px;
    }
}